<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
    <h1>Welcome to My Portfolio</h1>
    <p>Hello! I'm Sumita Vasava, a data analyst and aspiring Python developer.</p>
    </header>

    <section>
        <h2>About me </h2>
        <p>
            I have experience in data analysis and currently learning Python and building small web applications.
            Passionate about solving problems and learning new technologies.
        </p>
    </section>
    <p>Check out my projects below:</p>
    <ul>
        <li>Project 1: Calculator App for basic calculation ( +, -, *, /)</li>
        <li>Project 2: To-Do List Application</li>
        <li>Project 3: Web Scraper for News Headlines.</li>
        <li>Project 4: Build a REST API with Flask.</li>
        <li>Project 5: Data Analysis on CSV Files.</li>
    </ul>
    <section>
    <h2>Contact</h2>
    <p>Want to work with me? <a href="/contact">Get in touch here</a>.</p>
    <p>To know more about project work, contact me by clicking on the link and filling the details.</p>
</section>
</body>
</html>
